<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="olir3-dms2">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="olir3-login-filter-1.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/olir3-login-filter/olir3-login-filter">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="olir3-dms2"/>
        <property name="java-output-path" value="/olir3-dms2/target/classes"/>
    </wb-module>
</project-modules>
